.jidai-calendar-header {
  display: flex;
  text-align: center;
}

.jidai-calendar-header-nav {
  flex: 1;
}

.jidai-calendar-header-content {
  flex: 2
}

.jidai-calendar-row {
  display: flex;
}

.jidai-weekday, .jidai-day {
  display: inline-block;
  flex-grow: 1;
  width: calc(100% / 7);
  text-align: center;
}

.jidai-today {
  color: red;
}

.jidai-weekday {
  font-weight: bold;
}

.jidai-day {
  cursor: pointer;
}
